:global{
  .header{
    height:70vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    box-sizing:border-box;
    justify-content:center;
    & > h2{
      text-transform:none;
      letter-spacing:0.1rem;
      font-size:3rem;
      margin-top:1.5rem;
      margin-bottom:2rem;
    }
    & > .paragraph{
      width:50vw;
      padding-top:1rem;
      padding-bottom:3rem;
      font-size:1.3rem;
      text-align:center;
      color: #4E4E4E;
      font-family: 'Roboto', sans-serif;
      line-height:2rem;
    }
  }
}
